body {
  font-family: 'Lato', sans-serif; }

.centro {
  text-align: center;
  vertical-align: middle;
  height: 200px; }

h2 {
  font-weight: bold; }

.banner {
  background: url("../img/Banner.jpg") no-repeat center top;
  height: 100vh;
  color: white; }

.intro {
  text-align: center;
  margin-top: 10vh; }
  .intro h1 {
    font-size: 100px;
    font-weight: bold; }
  .intro .find {
    font-family: 'Times New Roman', sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    opacity: 0.7; }
  .intro button {
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: 3px solid white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    padding: 22px 77px;
    margin-top: 40px; }
  .intro p {
    font-size: 14px;
    margin-top: 41px; }
  .intro a {
    color: white;
    text-decoration: none; }

.plus {
  text-align: center;
  margin-top: 100px;
  line-height: 1.5; }
  .plus h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 21px; }
  .plus span {
    padding-bottom: 10px;
    border-bottom: 1px solid orange; }
  .plus p {
    margin-top: 32px;
    margin-bottom: 100px; }

.three {
  background: #f7f7f7; }

.iphone {
  margin-top: 105px;
  width: auto; }

.introducing {
  margin-top: 185px;
  line-height: 1.5; }
  .introducing p {
    margin-top: 40px; }

.three span {
  border-bottom: 1px solid orange;
  font-size: 18px; }

.four {
  background: #4a3949 url("../img/rewiew.png") no-repeat center top; }

.photo {
  margin-top: 80px; }

.rewiew {
  font-weight: lighter;
  color: white;
  margin: 0 auto;
  text-align: center; }
  .rewiew p {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 133px; }
  .rewiew blockquote {
    margin-top: 33px;
    opacity: 0.5;
    font-size: 30px; }

.ab {
  padding: 0;
  margin: 0; }

.im {
  width: 100%; }

.cus a span {
  font-size: 36px;
  font-weight: bold;
  color: white; }

.five a {
  position: relative;
  top: 30%; }

.cus a i {
  opacity: 0.9;
  font-style: italic;
  font-size: 15px;
  font-weight: lighter;
  color: white; }

.it {
  background: url("../img/It.png"); }

.in {
  background: url("../img/In.png"); }

.fr {
  background: url("../img/Fr.png"); }

.stk {
  background: url("../img/Steak.png"); }

.sea {
  background: url("../img/Sea.png"); }
