body
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box
.first
  height: 100vh
  background: url(../img/Layer1.jpg) no-repeat center top
  color: white
.nav
  display: flex
  justify-content: flex-end
  align-items: center
.nav li
  margin-left: 30px
  margin-top: 45px
.hello
  padding: 9px 24px
  border: 1px solid white
  border-radius: 20px
.logo
  display: flex
  justify-content: center
  margin-left: 100px
  margin-top: 47px
  font-size: 25px
  font-weight: bold
.content
  justify-content: center
  font-size: 35px
  text-align: center
  margin: 0 auto
  margin-top: 220px
.content p
  margin-top: 40px
  font-size: 16px
.col
  border: 5px solid red